<web-app>
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>com.student.AddStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <servlet-class>com.student.DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <url-pattern>/DeleteStudentServlet</url-pattern>
    </servlet-mapping>
</web-app>