<div class="container">
    <h2>Register</h2>
    <form ng-submit="register()">
        <input type="text" ng-model="newUser.firstName" placeholder="First Name" required>
        <input type="text" ng-model="newUser.lastName" placeholder="Last Name" required>
        <input type="text" ng-model="newUser.username" placeholder="Username" required>
        <input type="password" ng-model="newUser.password" placeholder="Password" required>
        <button type="submit">Register</button>
    </form>
    <p ng-if="message">{{ message }}</p>
</div>